---
layout: page
title: JOURNAL
category: blog2
desc: "生活 • 阅读 • 旅行 • 美食"
---

{% for post in site.posts %}
  {% if post.categories contains 'blog2' %}
  	<div class="post-row">
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br>
		<h5><a class="cn-title" href="{{ post.url }}">{{ post.title }}</a></h5>
		<div class="post-preview"> {{ post.summary }} </div>
		{% for tag in post.tags %}
			<span class="post-tag">{{ tag }}</span>
		{% endfor %}
	</div>
  {% endif %}
{% endfor %}
