---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.categories contains 'blog1' %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div> 
            <p>{{ post.content | strip_html | truncatewords:75 }}
        </div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>
