---
layout: post
layout: page
title: Reading List
category: blog4
---

<h3></h3>
<h3>Tech Books</h3>
<div class="post-grid">
{% for post in site.books %}
  {% if post.cover and post.category == 'tech' %}
        <div class="grid-item" >
            <img src="{{post.cover}}">
            <div>
              <a href="{{ post.url }}">
                  <span class="title">{{ post.title}}</span> <br/>
                  <span class="post-meta">{{ post.author }} </span>
              </a>
            </div>
        </div>
  {% endif %}
{% endfor %}
</div>

<h3>Non-fiction</h3>
<div class="post-grid">
{% for post in site.books %}
  {% if post.cover and post.category == 'non-fiction' %}
        <div class="grid-item" >
            <img src="{{post.cover}}">
            <div>
              <a href="{{ post.url }}">
                  <span class="title">{{ post.title}}</span> <br/>
                  <span class="post-meta">{{ post.author }} </span>
              </a>
            </div>
        </div>
  {% endif %}
{% endfor %}
</div>

<h3>Fictions</h3>
<div class="post-grid">
{% for post in site.books %}
  {% if post.cover and post.category == 'fiction' %}
        <div class="grid-item" >
            <img src="{{post.cover}}">
            <div>
              <a href="{{ post.url }}">
                  <span class="title">{{ post.title}}</span> <br/>
                  <span class="post-meta">{{ post.author }} </span>
              </a>
            </div>
        </div>
  {% endif %}
{% endfor %}
</div>

<h3>Growth</h3>
<div class="post-grid">
{% for post in site.books %}
  {% if post.cover and post.category == 'growth' %}
        <div class="grid-item" >
            <img src="{{post.cover}}">
            <div>
              <a href="{{ post.url }}">
                  <span class="title">{{ post.title}}</span> <br/>
                  <span class="post-meta">{{ post.author }} </span>
              </a>
            </div>
        </div>
  {% endif %}
{% endfor %}
</div>

<h3>Biz and Investment</h3>
<div class="post-grid">
{% for post in site.books %}
  {% if post.cover and post.category == 'biz' %}
        <div class="grid-item" >
            <img src="{{post.cover}}">
            <div>
              <a href="{{ post.url }}">
                  <span class="title">{{ post.title}}</span> <br/>
                  <span class="post-meta">{{ post.author }} </span>
              </a>
            </div>
        </div>
  {% endif %}
{% endfor %}
</div>