<!--nav button-->
<div class="button-background">
    <div class="button-toggle" id="toggle">

        <span class="top"></span>
        <span class="middle_1"></span>
        <span class="middle_2"></span>
        <span class="bottom"></span>
    </div>
</div>
<!--menu overlay-->
<div class="overlay" id="overlay">
    <nav>
        <ul>
            <li><a href="{{ '/index.html' | prepend: site.baseurl }}">Home</a></li>
            <li><a href="{{ '/about/about.html' | site.baseurl }}">About</a></li>
            <li><a href="{{ '/blog1/index.html' | prepend: site.baseurl }}">Tech Blog</a></li>
            <li><a href="{{ '/blog2/index.html' | prepend: site.baseurl }}">Journal</a></li>
        </ul>
    </nav>
</div>
<!--jquery script-->
<script>
    $('.button-background').click(function() {
        $('#toggle').toggleClass('active');
        $('#overlay').toggleClass('open');
    });
</script>
