@import url(http://fonts.googleapis.com/css?family=Cantarell);

$text-color: #525151;
$header-color: #3c3b3b;
$theme-color: #34215A;
$theme-color-dark: #372D4A;
$grey-text-color: #ababab;
$header-background-color: rgba(255, 255, 255, 0.88);
$header-shadow-color: #cccccc;
$image-caption-color: #8b8888;
$block-quote-color: #8b8888;
$footer-background-color: #f5f5f5;
$footer-background-shadow: #E0DBDB;
$footer-text-color: #939291;
$button-border: #eee;
$button-background: rgba(247, 247, 247, 0.44);
$more-button-color: #979797;
$break-small: 320px;
$break-medium: 640px;
$break-large: 1200px;

$block-background-color: #fdfafa;

/**
 * Site header
 */
header {
    text-align: center;
}
.site-header {
    color: $header-color;
    height: 50px;
    position: absolute;
    vertical-align: middle;
    font-size: 150%;
    z-index: 20;
    border: solid;
    background-color: white;
    display: inline-block;
    text-align: center;
    top: 20px;
    left: 20px;
    line-height: 37px;

    span {
        margin: 20px;
    }

    a {
        display: inline-block;
        padding: 5px 0;
        opacity: 1.0;
        text-decoration: none;
        &:hover {
            opacity: 0.8;
            color: $theme-color-dark;
            text-decoration: none;
        }
        &.page {
            background-color: $theme-color;
        }
    }

    &.post {
        background-color: #efefef;
        top: 0px;
    }
}

/**
 * Header image in home page
 */
.header-image {
    background-color: $theme-color-dark;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;

    span {
        position: absolute;
        top: 550px;
        right: 20px;
    }

    .button {
        color: #fff;
        background: $button-background;
        border-radius: 40px;
        margin: 5px;
        outline: none;
        border: 1px solid $button-border;
        padding: 3px 15px 3px 15px;

        &:hover{
            outline: none;
            color: #fff;
            background-color: $theme-color;
            border: 1px solid $theme-color;
            box-shadow: 0px 0px 6px #666;
            cursor: pointer;
        }
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-align: center;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    background-color: $theme-color-dark;
    width: 100%;
    height: 100px;
    position: relative;

    p {
        width: 100%;
        text-align: center;
        font-size: 80%;
        display: block;
        color: #fff;
        padding-top: 20px;
    }
    a {
        color: white;
    }
    &.page {
        background-color: $theme-color;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.social-media-list li {
    display: inline;
    list-style-type: none;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-link {
    &,
    &:visited {
        color: $theme-color !important;
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * about site
 */
html,
body,
.blog-container {
    height: 100%;
    width: 100%;
}

.blog-layer {
  background-color: transparentize($theme-color-dark, 0.1) ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media screen and (max-width: $break-medium) {
    width: 100%;
    height: 50%;
  }
}

.blog-image {
    background: url("https://c7.staticflickr.com/2/1602/25597951590_f6a8dc8049_o.jpg") no-repeat center;
    background-size: cover;
    width: 40%;
    height: 100%;
    float: left;
    position: fixed;

    &.about {
      background: url("https://s3.ap-southeast-1.amazonaws.com/littlecheesecake.me/blog-post/diving_2.jpg") no-repeat center;
      background-size: cover;
    }

    @media screen and (max-width: $break-medium) {
      width: 100%;
      height: 50%;
      position: inherit;
    }

    .title-container {
      z-index: 3;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      color: white;
      .title {
          border: solid 2px white;
          text-align: center;
          padding: 10px 20px;
          margin: 10px auto;
          font-size: 2em;
          font-weight: 600;
          width: 70%;
      }
      .sub-title {
          font-size: 11px;
          text-align: center;
      }
    }

    .button {
        color: #fff;
        background: $button-background;
        border-radius: 40px;
        margin: 5px;
        outline: none;
        border: 1px solid $button-border;
        padding: 3px 15px 3px 15px;

        &:hover{
            outline: none;
            color: #fff;
            background-color: $theme-color;
            border: 1px solid $theme-color;
            box-shadow: 0px 0px 6px #666;
            cursor: pointer;
        }
    }
}

.blog-content {
    min-height: 100%;
    margin-left: 40%;
    width: 60%;
    display: inline-block;
    background-color: #efefef;
    padding: 30px;

    @media screen and (max-width: $break-medium) {
        width: 100%;
        margin-left: 0;
    }

    p {
        padding: 100px 5% 10% 5%;
        margin: auto;

        span {
            font-size: 100%;
            color: $theme-color;
            font-weight: 600;
        }
    }

    .center {
        border-top: 1px solid #eee;
        margin: 80px;
        padding-top: 30px;
        text-align: center;

        .image-button {
            margin: 5px;
            width: 20px;
            height: 20px;
            display: inline;
        }
    }
}

/**
 * CN site
 */
.cn-title {
    border-bottom: 0px !important;
    a:hover {
        border-bottom: 1px solid $theme-color !important;
    }
    &,
    &:visited {
        color: $grey-color-dark !important;
    }
}

/**
 * Page content
 */

.page-content {
    position: relative;
    z-index: 10;
    width: 100%;
    background: #F4F3F6;
}

.post-meta {
    font-size: 10px;
    color: $grey-text-color;
    padding: 2px 5px 2px 1px;
    border-radius: 0 20% 0 20%;
}

.block-group {
    height: 85vh;
    margin: 0 !important; 
    padding: 0;
    .block {
        height: 50%;
        padding: 0;
        font-family: 'Mistral';
        position: relative;
        .block-title {
            font-size: 40px;
            width: 100%;
            text-align: center;
            padding: 20px;
            color: white;
        }
        .block-tag {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            color: white;
            bottom: 30px;
            .inner {
                background-color: black;
                display: inline-block;
                padding: 2px 20px;
            }
        }
        &.blog {
            padding: 50px;
            background: url("https://c1.staticflickr.com/2/1893/44230851762_e43ba55510_h.jpg") no-repeat center center;
            background-size: cover;
        }
        &.about {
            text-align: center;
            outline-style: solid;
            outline-color: black;
            z-index: 10;
            background-color: #F4F3F6;
            .block-about-title {
                transform: translate(0, 100%);
                font-size: 60px;
            }
        }
        &.tech {
            background-color: black;
            color: chartreuse;
            padding: 60px;
            font-family: Consolas, monaco, monospace;
        }
        &.vlog {
            padding: 50px;
            background: url("https://c1.staticflickr.com/8/7531/16182145015_8fa813f382_h.jpg") no-repeat center center;
            background-size: cover;
            .recording-icon {
                background-color: red;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 10px;
                border-radius: 10px;
            }
            .block-title {
                color: black;
            }
        }
    }
}



.more-button {
    border-radius: 2px;
    outline: none;
    background: none;
    border: 2px solid $action-color;
    color: $action-color;
    padding: 10px 20px 10px 20px;
    font-family: Cantarell, sans-serif;
    margin: 0px 0px 30px 0px;

    &:hover {
        color: $theme-color;
        border: 2px solid $theme-color;
        cursor: pointer;
    }
}

.center {
    text-align: center;
    margin-top: 10px;
}

/**
 * Page
 */
.page-image {
    background-color: $footer-background-color;
    background-size: cover;
    height: 45px;
    width: 100%;
    text-align: center;

    span {
        position: relative;
        bottom: -webkit-calc(-100% - 10px);
        bottom:         calc(-100% - 10px);
        margin-right: 30px;
    }

    .button {
        color: #999;
        background: rgba(247, 247, 247, 0.44);
        border-radius: 2px;
        margin: 5px;
        outline: none;
        border: solid 2px #fff;
        padding: 5px 25px 5px 25px;

        &.active {
            color: $theme-color;
            border: solid 2px $theme-color;
            cursor: pointer;
        }
        &:hover {
            color: $theme-color;
            border: solid 2px $theme-color;
            cursor: pointer;
        }
    }
}


/**
 * Posts
 */
.post-header {
    margin: $spacing-unit 0px 0px;
    text-align: left;
    h1 {
        line-height: 60px;
        color: $text-color;
    }
}

.post-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 24px;
    }
}

.post-tag {
    background-color: #A74A8A;
    color: #fff;
    font-size:12px;
    font-weight: 500%;
    padding: 3px 5px 3px 5px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 30%;
}

.post-wrapper {
    background-color: #fff;
}

.post-content {
    margin-bottom: $spacing-unit;
    p {
        margin-bottom: 20px;
        font-family: $content-font-family;
    }

    ul, ol {
        margin-bottom: 20px;

        li {
            color: #525151;
            line-height: 1.8;
        }
    }

    .image-banner-2 {
        max-width: 100%;
        padding: 0;
        position: relative;
        margin: 5px 50px;
        min-height: 250px;
    }

    .image-banner {
        max-width: 100%;
        padding: 0;
        overflow: hidden;
        position: relative;
        margin: 20px 0;
        height: 250px;
        min-height: 250px;

        @media screen and (min-width: $break-medium) {
            height: 350px;
            min-height: 350px;
        }

        @media screen and (min-width: $break-large) {
            height: 450px;
            min-height: 450px;
        }

        img {
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
            min-width: 100%;
            min-height: 100%;
            margin: auto;
            position: absolute;
        }
        span {
            position: absolute;
            bottom: 30px;
            color: white;
            left: 30px;
            font-size: 12px;
        }
    }

    h2 {
        font-size: 32px;
        position: relative;
        left: -10px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        position: relative;
        left: -10px;
        color: $theme-color;
        text-align: center;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        margin-bottom: 20px;
        color: $text-color;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h5 {
        font-size: 16px;
        margin-bottom: 20px;
        color: $text-color;
        @include media-query($on-laptop) {
            font-size: 14px;
        }
    }

    li, ul {
        list-style-position: inside;
    }

    .post-end {
        border-top: 2px solid #ddd;
        margin-top: 80px;
        margin-bottom: 50px;
        padding-top: 20px;
        text-align: right;
        .addthis_button_tweet {
            border-bottom: 0px !important;
        }
    }

    .share-container {
        margin:auto;
        padding: 0 0 30px 0;
        .share-text {
            color: #7f929c;
            font-size: 12px;
            font-weight: 600
        }
    }

    h2,h3,h4,h5,p,pre,ul,ol,
    .post-end {
        max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
        max-width:         calc(800px - (#{$spacing-unit} * 2));
        margin-right: auto;
        margin-left: auto;
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
        @extend %clearfix;

        @include media-query($on-laptop) {
            max-width: -webkit-calc(800px - (#{$spacing-unit}));
            max-width:         calc(800px - (#{$spacing-unit}));
            padding-right: $spacing-unit / 2;
            padding-left: $spacing-unit / 2;
        }
    }

    a {
        text-decoration: none;
        border-bottom: 1px solid $block-quote-color;
	    color: $theme-color;
        &:hover {
            border-bottom: 2px solid $theme-color;
        }
    }

    figcaption {
        float: right;
        position: relative;
        color: $block-quote-color;
        font-size: 12px;
        width: 250px;
        margin: 10px 0 0 10px;
        padding-right: 2%;
        padding-left: 5px;
        border-left: 2px solid $block-quote-color;
    }

    .reading-notes {
      color: $theme-color;
      font-size: 12px;
      padding: 0;
    }

    strong {
        background-color: $theme-color;
        color: #fff;
        font-size: 90%;
        border-radius: 2px 2px;
        padding: 2px 3px;
    }

}

.video-container {
    @media screen and (min-width: $break-small) {
        height: 300px;
    }
    @media screen and (min-width: $break-medium) {
        height: 430px;
        max-width: 680px;
    }
    height: 100vh;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.mindmap-container {
    @media screen and (min-width: $break-small) {
        height: 500px;
        max-width: 600px;
    }
    @media screen and (min-width: $break-medium) {
        height: 550px;
        max-width: 1200px;
    }
    height: 100vh;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.video-frame {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin:auto;
}

.post-image-container {
    width: 100%;
    height: 50%;
    min-height: 50%;
    @media screen and (max-width: $break-small) {
        height: 30%;
        min-height: 30%;
    }
    @media screen and (min-width: $break-medium) {
        height: 70%;
        min-height: 450px;
    }

    overflow: hidden;
    position: relative;
    background-size: cover;

    .post-caption {
        position: absolute;
        max-width: 450px;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px 20px;
        color: #fff;
        max-height: 100px;
        overflow: hidden;
    }
}

.post-image {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    min-width: 100%;
    min-height: 100%;
    margin:auto;
}

iframe {
  border: none;
}
