<!DOCTYPE html>
<html>
    
    {% include head.html %}
    <body>
        
        {% include header.html %}
        <div class="about-container">
            <div class="about-image">
<!--
                <span>
                    {% for page in site.pages %}
                    {% if page.title and page.title != 'About' %}
                    <a href="{{ page.url | prepend: site.baseurl }} "><button class="button">{{ page.title }}</button></a>
                    {% endif %}
                    {% endfor %}
                </span>
-->
            </div>

            <div class="about-content">
                {{ content }}
                <div style="text-align:center">
                    <span>
                    <a href="https://github.com/yulu" target="_blank">
                        <img src="../assets/github.png" style="display:inline; margin: 5px; width: 25px"></a> 
                    <a href="https://www.linkedin.com/in/yulu8798" target="_blank">
                        <img src="../assets/linkedin.png" style="display:inline; margin: 5px; width: 25px"></a>
                    <a href="http://www.weibo.com/littlecheesecake" target="_blank">
                        <img src="../assets/weibo.png" style="display:inline; margin: 5px; width: 25px"></a>
                    </span>
                </div>
            </div>
<!--            <div class="about-avatar"></div>-->
        </div>
        
    {% include nav.html %}
    </body>
</html>