<!DOCTYPE html>
<html>

    {% include head.html %}
    <body>

        {% include header.html %}
        <div class="blog-container">
            <div class="blog-image about">
              <div class="title-container">
                <span class="title">ABOUT ME</span>
              </div>
            </div>

            <div class="blog-content">
                {{ content }}
                <div style="text-align:center">
                    <span>
                    <a href="https://github.com/yulu" target="_blank">
                        <img src="../assets/github.png" style="display:inline; margin: 5px; width: 25px"></a>
                    <a href="https://www.linkedin.com/in/yulu8798" target="_blank">
                        <img src="../assets/linkedin.png" style="display:inline; margin: 5px; width: 25px"></a>
                    <a href="http://www.weibo.com/littlecheesecake" target="_blank">
                        <img src="../assets/weibo.png" style="display:inline; margin: 5px; width: 25px"></a>
                    </span>
                </div>
            </div>
        </div>

    </body>
</html>
