<!DOCTYPE html>
<html>

    {% include head.html %}

  <body>

    {% include header.html %}
    
    <div class="header-image"> </div>
    <div style="height: 40px; width: 100%;"></div>
    <div class="page-content">
        <div style="height: 100%;"></div>
            {{ content }}
        </div>
        {% include footer.html %}
    </div>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB2VMZMH"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  </body>

</html>
