<!DOCTYPE html>
<html>

    {% include head.html %}
    
    <body>

    {% include header.html %}

    <div class="post-image-container">
        {% if page.image %}
        <img class="post-image" src="../../../../assets/{{ page.image }}"/>
        {% elsif page.image_url %}
        <img class="post-image" src="{{ page.image_url }}"/>
        {% else %}
        <img class="post-image" src="https://farm9.staticflickr.com/8729/16907239749_3c2c0365f8_k.jpg"/>
        <!--<img class="post-image" src="{{ site.url}}/assets/{{ page.image }}"></img>-->
        {% endif %}      
        
        {% if page.video %}
        <div class="video-container">
            <iframe class="video-frame"  width="640" height="360" src={{ page.video }} frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
        
        {% if page.image_caption %}
        <p>{{ page.image_caption }}</p>
        {% endif %}  
    </div>

    <div class="post-wrapper">
        <!-- header --> 
        <div class="wrapper">
            <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>
        </div>


        <article class="post-content">
            {{ content }}
            
            <!-- end -->
            <div class="post-end">
                <div class="share-container">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_native_toolbox"></div>
                </div>
            </div>
        </article>
    </div>

    {% include footer.html %}
    </body>
</html>
