<!DOCTYPE html>
<html>

    {% include head.html %}
    
    <body>

    {% include header.html %}

    <div class="post-image-container">
        {% if page.image_url %}
        <img class="post-image" src="{{ page.image_url }}"/>
        {% else %}
        <img class="post-image" src="https://c2.staticflickr.com/2/1501/25042644286_11a49077d1_h.jpg"/>
        {% endif %}      
        
        {% if page.video %}
        <div class="video-container">
            <iframe class="video-frame"  width="640" height="360" src={{ page.video }} frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
        
        {% if page.image_caption %}
        <div class="post-caption">{{ page.image_caption }}</div>
        {% endif %}  
    </div>

    <div class="post-wrapper">
        <!-- header --> 
        <div class="wrapper">
            <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>
        </div>


        <article class="post-content">
            {{ content }}
            
            <!-- end -->
            <div class="post-end">
                <div class="share-container">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <span class="share-text">Share the post </span><div class="addthis_sharing_toolbox"></div>
                </div>
                {% include comment.html %}
            </div>
        </article>
    </div>

    {% include footer-page.html %}
    </body>
</html>
